Cython>=0.29.16,<1.0; python_version == '3.7'
setuptools==41.1.0
git+https://github.com/FragileTech/atari-py.git#egg=atari-py
gym-retro==0.7.1
pytest==5.4.1
attrs>=19.3.0
hypothesis==5.8.0
networkx==2.4
pillow-simd==7.0.0.post3
numpy==1.18.2
scipy==1.4.1
psycopg2-binary==2.8.4
pyarrow==0.16.0
opencv-python==4.2.0.32
setproctitle==1.1.10
scikit-learn==0.22.2.post1
numba==0.48.0
xxhash==1.4.3
PyYAML==5.3.1
matplotlib==3.2.1
param==1.9.3
pandas==1.0.3
panel==0.9.1
holoviews==1.12.7
bokeh==1.4.0
hvplot==0.5.2
plotly==4.5.4
streamz==0.5.2
selenium==3.141.0
h5py==2.10.0
jupyter==1.0.0
psutil==5.7.0
ez_setup==0.9
pyvirtualdisplay==0.2.5
